/* COLORS */
$primary-violet: hsl(256, 26%, 20%);
$secondary-grey: hsl(216, 30%, 68%);

$dark-violet: hsl(270, 9%, 17%);
$greyish-violet: hsl(273, 4%, 51%);
$light-grey: hsl(0, 0%, 98%);

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 138px;
    @media (max-width: 768px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.cta-button {
    color: $primary-violet;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 16px;
    background-color: transparent;
    width: 142px;
    height: 40px;
    border: 1px solid $primary-violet;
    cursor: pointer;
    &:hover {
    }

    &--light {
        color: white;
        font-family: 'Karla', sans-serif;
        font-weight: 700;
        font-size: 16px;
        background-color: transparent;
        width: 142px;
        height: 40px;
        border: 1px solid white;
        cursor: pointer;
        &:hover {
        }
    }
}
