.form {
    &__content {
        height: 80%;
        background-color: $primary-violet;
        margin-bottom: 120px;
        display: flex;
        gap: 18px;
        align-items: center;
        position: relative;
        overflow: hidden;
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    h2 {
        font-family: 'DM Serif Display', serif;
        color: white;
        font-size: 46px;
        font-weight: 500;
        padding-left: 100px;
        z-index: 1;

        @media (max-width: 992px) {
            font-size: 36px;
            text-align: center;
            padding: 68px 42px 0 42px;
        }
        @media (max-width: 768px) {
            font-size: 28px;
        }
    }

    img {
        position: absolute;
        left: 0;
        top: 120px;
    }

    &__wrapper {
        flex-basis: 40%;
        padding: 60px;
        @media (max-width: 992px) {
            padding-top: 10px;
        }
    }

    &__inputs {
        display: flex;
        flex-direction: column;
    }

    label {
        font-family: 'Karla', sans-serif;
        color: white;
        font-size: 16px;
        font-weight: 300;
        line-height: 14px;
        letter-spacing: 0em;
        display: block;
        margin-bottom: 10px;
        z-index: 1;
    }

    input {
        margin-bottom: 40px;
        line-height: 32px;
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        font-weight: 300;
        z-index: 1;
    }

    textarea {
        margin-bottom: 40px;
        font-family: 'Karla', sans-serif;
        color: $dark-violet;
        font-size: 16px;
        font-weight: 300;
        z-index: 1;
    }
}
