.footer {
    background-color: $light-grey;
    padding-top: 54px;
    padding-bottom: 120px;
    position: relative;

    & > div {
        position: relative;
        z-index: 1;
    }

    &__logo-section,
    &__menu {
        display: flex;
        justify-content: space-between;
        @media (max-width: 576px) {
            flex-direction: column;
            justify-content: center;
            align-items: start;
            width: 120px;
            margin-left: auto;
            margin-right: auto;
            gap: 24px;
        }
    }

    &__logo-section {
        @media (max-width: 576px) {
            width: 200px;
            justify-content: center;
            align-items: center;
            gap: 12px;
        }
    }

    &__line {
        margin-bottom: 32px;
        border-top: solid $greyish-violet 1px;
        width: 100%;
        margin-top: 18px;
    }

    h6 {
        color: $greyish-violet;
        font-family: 'Karla', sans-serif;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 24px;
    }
    li a {
        color: $primary-violet;
        font-family: 'Karla', sans-serif;
        font-weight: 700;
        font-size: 16px;
        &:hover {
            text-decoration: underline;
        }
    }
    li {
        margin-bottom: 12px;
    }

    img {
        margin-left: 15px;
    }

    &__bg {
        position: absolute;
        left: 0;
        top: 0;
    }
}
