.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;

    .hamburger {
        display: none;
        @media (max-width: 992px) {
            display: flex;
        }
    }
    .hamburger.notvisible {
        display: none;
    }
    .close {
        display: none;
    }

    .close.visible {
        display: inline-block;
    }
    .overlay {
        visibility: hidden;
        position: absolute;
        width: 50%;
        top: 112px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        z-index: 2;
        height: 420px;
        background-color: $primary-violet;
        @media (min-width: 992px) {
            display: none;
        }
    }
    .overlay.open {
        visibility: visible;
    }
    &__menu {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
        align-items: center;
        @media (max-width: 992px) {
            display: none;
        }

        &--responsive {
            padding-top: 12px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }
    &__menu-item {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;

        &--responsive {
            display: flex;
            flex-direction: column;
            gap: 16px;
            a {
                color: white;
                font-family: 'Karla', sans-serif;
                font-weight: 700;

                &:hover {
                    color: white;
                }
            }
        }

        a {
            color: $greyish-violet;
            font-family: 'Karla', sans-serif;
            font-weight: 700;

            &:hover {
                color: $primary-violet;
            }
        }
    }
}
