@import './reset';
@import './common';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
    &__menu {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;
        align-items: center;
    }
    &__menu-item {
        display: flex;
        justify-content: space-evenly;
        gap: 2rem;

        li {
            color: $greyish-violet;
            font-family: 'Karla', sans-serif;
            font-weight: 700;
        }
    }
}

.hero {
    background-color: $primary-violet;
    display: flex;
    height: 600px;

    &__bg--right {
        position: absolute;
        right: 0;
        z-index: 1;
    }

    &__bg--left {
        position: absolute;
        left: 0;
        top: 550px;
        z-index: 1;
    }

    &__content {
        display: flex;
        position: relative;
        top: 98px;
    }

    &__copy {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .line {
            border-top: solid white 1px;
            width: 132px;
        }
        h1 {
            font-family: 'DM Serif Display', serif;
            color: white;
            font-size: 62px;
            font-weight: 500;
        }

        p {
            font-family: 'Karla', sans-serif;
            color: white;
        }
    }
}

.benefits {
    margin-top: 280px;
    margin-bottom: 120px;
    .line {
        margin-bottom: 32px;
        border-top: solid $greyish-violet 1px;
        width: 132px;
    }
    h2 {
        font-family: 'DM Serif Display', serif;
        color: $dark-violet;
        font-size: 62px;
        font-weight: 500;
    }

    &__row {
        padding-top: 64px;
        display: grid;
        grid-auto-flow: column;
        gap: 2rem;

        h3 {
            font-family: 'DM Serif Display', serif;
            color: $dark-violet;
            padding-top: 24px;
            padding-bottom: 18px;
            font-size: 24px;
            font-weight: 500;
        }

        p {
            font-family: 'Karla', sans-serif;
            color: $greyish-violet;
        }
    }
}

.about {
    &__content {
        height: 252px;
        background-color: $primary-violet;
        margin-bottom: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 64px;
    }

    h2 {
        font-family: 'DM Serif Display', serif;
        color: white;
        font-size: 52px;
        font-weight: 500;
    }

    img {
        position: absolute;
        right: 140px;
    }

    .cta-button--light {
        z-index: 1;
    }
}
